html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.advantage {
	background-color: $color-bg-advantage;
	padding: 60px 0;

	// .advantage__items
	&__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .advantage__item
	&__item {
		img {
			display: inline-block;
			vertical-align: middle;
		}

		// .advantage__item__name
		&__name {
			display: inline-block;
			vertical-align: middle;
			font-size: 18px;
			font-family: "muller-regular", sans-serif;
			color: $color-white;
			margin-left: 30px;
		}
	}
}

.about {
	background-image: url("../images/bg-about.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding: 100px 0;

	// .about__wrapper
	&__wrapper {
		border-right: 1px solid $color-brown;
	}

	// .about__content
	&__content {
		height: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		position: relative;

		// .about__content::after
		&::after {
			content: url("../images/bg-about-watermark.png");
			position: absolute;
			top: 345px;
			right: 185px;
		}
	}

	// .about__info
	&__info {
		// about__info__img
		&__img {
			margin-bottom: 72px;
			width: 100%;
			min-width: 540px;
			transition: transform 1s;
		}

		// about__info__img
		&__img:hover {
			transform: scale(1.1);
		}

		// about__info__text
		&__text {
			width: 500px;
			font-family: "muller-regular", sans-serif;
			font-size: 16px;
			color: $color-white;
			line-height: 1.313;
			padding-right: 25px;
			box-sizing: border-box;

			// about__info__text p
			p {
				margin-bottom: 35px;
			}

			// about__info__text p:last-child
			p:last-child {
				margin-bottom: 0;
			}
		}
	}

	// .about__suggestions
	&__suggestions {
		// about__suggestions__item
		&__item {
			margin-bottom: 25px;
		}

		// about__suggestions__item:last-child
		&__item:last-child {
			margin-bottom: 0;
		}

		// about__suggestions__img
		&__img {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			width: 30px;
			height: 28px;
		}

		// about__suggestions__text
		&__text {
			display: inline-block;
			vertical-align: middle;
			font-family: "muller-regular", sans-serif;
			font-size: 18px;
			color: $color-white;
			margin-left: 20px;
		}
	}
}

.parallax {
	padding: 60px 0;

	// .parallax__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;

		// .parallax__content .discount
		.discount {
			span {
				color: $color-brown;
			}
		}
	}

	// .parallax__text
	&__text {
		font-family: "lora-regular", sans-serif;
		font-size: 28px;
		color: $color-white;
		line-height: 1.2;
		max-width: 440px;
		margin-left: 82px;

		// .parallax__text span
		span {
			font-family: "lora-bold", sans-serif;
		}
	}

	// .parallax__btn
	&__btn {
		cursor: pointer;
		margin-right: 180px;
	}
}

.price {
	background-image: url("../images/bg-price.jpg");
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0;
	background-size: auto 100%;

	// .price__wrapper
	&__wrapper {
		border-left: 1px solid #ae8959;
	}
	// .price__content
	&__content {
	}
}

.services {
	display: flex;
	justify-content: space-between;
	position: relative;

	// .services::before
	&::before {
		// content: url("../images/bg-price-watermark.png");
		content: "";
		background-image: url("../images/bg-price-watermark.png");
		background-size: contain;
		background-repeat: no-repeat;
		display: block;
		position: absolute;
		top: 10px;
		left: 260px;
		height: 100%;
		width: 698px;
	}

	// .services__basic
	&__basic {
		margin-left: 80px;
	}

	// .services__title
	&__title {
		font-family: "lora-regular", sans-serif;
		font-size: 25px;
		color: $color-brown;
		margin-bottom: 40px;
	}

	// .services__item
	&__item {
		margin-bottom: 40px;
		width: 380px;
		display: flex;
		align-items: flex-start;

		// .services__item__info
		&__info {
			width: 250px;
			margin-right: 20px;
		}

		// .services__item__title
		&__title {
			display: block;
			font-family: "muller-regular", sans-serif;
			font-size: 18px;
			color: $color-white;
		}

		// .services__item__subtitle
		&__subtitle {
			display: block;
			font-family: "muller-regular", sans-serif;
			font-size: 14px;
			color: $color-subtitle;
			line-height: 1.429;
			margin-top: 10px;
		}

		// .services__item__price
		&__price {
			font-family: "muller-regular", sans-serif;
			font-size: 18px;
			color: $color-white;
		}
	}

	// .services__item:last-child
	&__item:last-child {
		margin-bottom: 0;
	}

	// .services__additional
	&__additional {
		// .services__additional .services__basic
		.services__basic {
			margin-left: 0;
		}

		// .services__additional .services__basic:last-child
		.services__basic:last-child {
			margin-top: 60px;
		}
	}
}

.masters {
	background-image: url("../images/bg-masters.jpg");
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0;
	background-size: auto 100%;

	// .masters__wrapper
	&__wrapper {
		border-right: 1px solid #ae8959;
	}

	// .masters__text
	&__text {
		font-family: "muller-regular", sans-serif;
		font-size: 18px;
		color: $color-white;
		line-height: 1.389;
		text-align: center;
		width: 800px;
		margin: 0 auto 40px auto;
	}

	// .masters__slider
	&__slider {
		position: relative;
		z-index: 1;
		margin: 0 auto;
		max-width: 1004px;
		// width: 100%;

		// слайдер
		.slick-slider {
		}

		// ограничивающая оболочка
		.slick-list {
			overflow: hidden;
			padding: 0;
		}

		// лента слайдов
		.slick-track {
			display: flex;
		}

		// слайд
		.slick-slide {
		}

		// стрелки
		.slick-arrow {
			position: absolute;
			bottom: 0;
			z-index: 10;
			// чтобы убрать текст с кнопок
			font-size: 0;
			outline: none;
			width: 14px;
			height: 28px;
			border-style: none;
			background-color: transparent;

			// стрелка влево
			&.slick-prev {
				left: 270px;
				background-image: url("../images/prev.png");
				background-repeat: no-repeat;
			}

			// стрелка вправо
			&.slick-next {
				right: 270px;
				background-image: url("../images/next.png");
				background-repeat: no-repeat;
			}
		}

		// точки(маркеры)
		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 43px;

			& li {
				list-style: none;
				margin: 0 10px;

				&.slick-active button {
					background-image: url("../images/dots-active.png");
					width: 30px;
					height: 30px;
					outline: none;
				}
			}

			& button {
				font-size: 0;
				background-image: url("../images/dots.png");
				width: 25px;
				height: 25px;
				background-color: transparent;
				border-style: none;
				outline: none;
			}
		}

		.slick-list {
			overflow: hidden;
		}

		// .masters .item (слайд)
		.item {
			&.slick-slide {
				width: 460px;
				height: 476px;
				transition: transform 0.4s;
				position: relative;
				outline: none;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}

				.item__info {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					// height: 154px;
					padding: 30px;
					background-color: $color-black-slider;
					text-align: center;
					box-sizing: border-box;

					&__text {
						display: block;
						font-family: "lora-regular", sans-serif;
						font-size: 25px;
						color: $color-white;
						margin-bottom: 30px;
					}

					&__button {
						border: 1px solid $color-brown;
						width: 165px;
						height: 40px;
						font-family: "muller-bold", sans-serif;
						font-size: 16px;
						line-height: 40px;
						color: $color-white;
						text-align: center;
						background-color: transparent;
						transition: background-color 0.3s;
						cursor: pointer;
						outline: none;

						&:hover {
							background-color: $color-brown;
						}
					}
				}
			}
		}

		// слайд справа
		.item.slick-slide.slick-center + .slick-slide {
			transform: scale(0.8) translate(-150px);
			z-index: 10;
			filter: grayscale(100%);
		}

		// слайд слева
		.item.slick-slide.slick-active {
			transform: scale(0.8) translate(150px);
			filter: grayscale(100%);
		}

		// слайд по центру
		.item.slick-slide.slick-center {
			transform: scale(1);
			z-index: 30;
			filter: grayscale(0%);
		}
	}
}

.contact {
	padding: 60px 0 40px 0;
	background-color: $color-footer;

	// .contact__wrapper
	&__wrapper {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	// .contact__info
	&__info {
		font-family: "muller-regular", sans-serif;
		font-size: 16px;
		color: rgb(255, 255, 255);
		line-height: 1.2;
		text-align: center;
		width: 210px;
		min-width: 210px;
		margin-left: 60px;
		margin-right: 40px;
	}

	// .contact__time
	&__time {
		margin-top: 70px;
		margin-bottom: 40px;
	}

	// .contact__address
	&__address {
		margin-bottom: 40px;
	}

	// .contact__social
	&__social {
		margin-bottom: 60px;
	}

	// .contact__email
	&__email {
		margin-bottom: 20px;
	}

	// .contact__phone
	&__phone {
	}

	// .contact__map
	&__map {
		width: 860px;
		height: 465px;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
}

.contact .social {
	// .social__items
	&__items {
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	// .social__item
	&__item {
		width: 26px;
		height: 26px;
		transition: opacity 0.3s;

		// .social__item:hover
		&:hover {
			opacity: 0.9;
		}
	}
}

.footer {
	flex: 0 0 auto;
	background-color: $color-footer;
	padding: 60px 0;

	// .footer__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		// .footer__wrapper span
		span {
			font-family: "muller-regular", sans-serif;
			font-size: 14px;
			color: $color-footer-text;
		}
	}
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.burger {
	display: none;
	align-items: center;
	width: 45px;
	height: 35px;
	position: relative;
	cursor: pointer;
	outline: none;

	// .burger span
	span {
		width: 100%;
		height: 4px;
		background-color: $color-white;
	}

	span:first-child {
		position: absolute;
		top: 0;
	}

	span:last-child {
		position: absolute;
		bottom: 0;
	}
}

.close {
	display: none;
	align-items: center;
	justify-content: center;
	width: 45px;
	height: 45px;
	top: 49px;
	right: 15px;
	position: fixed;
	z-index: 6;
	outline: none;
	cursor: pointer;

	// .close span
	span {
		width: 100%;
		height: 4px;
		background-color: $color-white;
	}

	span:first-child {
		position: absolute;
		transform: rotate(45deg);
	}

	span:last-child {
		position: absolute;
		transform: rotate(-45deg);
	}
}

.header {
	background-image: url("../images/bg-header.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;

	// .header__top
	&__top {
		display: flex;
		align-items: center;
		padding: 47px 0 15px 0;
	}

	// .header__content
	&__content {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: relative;

		// .header__content__info
		&__info {
			max-width: 530px;
		}

		// .header__content__title
		&__title {
			font-family: "lora-regular", serif;
			font-size: 40px;
			color: $color-white;
			line-height: 1.2;
			margin-bottom: 40px;
		}

		// .header__content__subtitle
		&__subtitle {
			font-family: "lora-regular", serif;
			font-size: 22px;
			color: $color-white;
			margin-bottom: 50px;
		}

		// header__content__image
		&__image {
			z-index: 2;

			// header__content__image img
			img {
				width: 100%;
				height: 100%;
				display: block;
			}
		}

		// header__content::before
		&::before {
			position: absolute;
			content: ("strong");
			font-family: "castellar", serif;
			font-size: 180px;
			color: $color-text-bg;
			top: 0;
			right: -10px;
			z-index: 0;
		}

		// header__content::after
		&::after {
			position: absolute;
			content: ("club");
			font-family: "castellar", serif;
			font-size: 180px;
			color: $color-text-bg;
			bottom: 0;
			left: 80px;
			z-index: 0;
		}

		// .header__content__btn
		&__btn {
		}
	}
}

.title {
	font-family: "lora-regular", sans-serif;
	font-size: 32px;
	color: $color-white;
	line-height: 1.156;
	text-align: center;
	max-width: 600px;
	margin: 0 auto 60px auto;
}

.logo {
	font-family: "lora-regular", serif;
	font-size: 25px;
	color: $color-white;
	line-height: 1.2;
	width: 135px;
}

.menu {
	margin-left: 200px;

	// .menu__items
	&__items {
		display: flex;
	}

	// .menu__item
	&__item {
		list-style: none;

		// .menu__item__link
		&__link {
			font-family: "muller-regular", sans-serif;
			font-size: 16px;
			color: $color-white;
			margin-left: 50px;
			position: relative;

			// .menu__item__link::before
			&::before {
				content: "";
				position: absolute;
				background-color: $color-brown;
				top: 20px;
				width: 100%;
				height: 1px;
				opacity: 0;
				transition: all 0.5s;
			}

			&:hover::before,
			&.active::before {
				opacity: 1;
			}
		}
	}
}

.phone {
	margin-left: auto;

	// .phone img
	img {
		display: inline-block;
		vertical-align: middle;
	}

	// .phone__number
	&__number {
		display: inline-block;
		font-family: "muller-regular", sans-serif;
		font-size: 15px;
		color: $color-white;
		margin-left: 15px;
		vertical-align: middle;
	}
}

.btn {
	background-color: $color-brown;
	width: 232px;
	height: 60px;
	font-family: "muller-bold", sans-serif;
	font-size: 18px;
	color: $color-white;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;

	// .btn:hover
	&:hover {
		box-shadow: 0 0 18.75px 6.25px $color-shadow;
	}
}

// modal window popap discount
.popap-discount {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $color-bg-menu;
	z-index: 5;

	// .popap-discount__content
	&__content {
		background-image: url("../images/bg-popap.jpg");
		background-position: center;
		background-size: cover;
		color: $color-white;
		font-family: "lora-bold", serif;
		font-size: 18px;
		padding: 45px 25px;
		max-width: 500px;
		line-height: 1.2;
		text-align: center;
		position: relative;
		margin-left: 15px;
		margin-right: 15px;

		// .popap-discount__content span
		span {
			color: $color-brown;
		}
	}

	// .popap-discount__close
	&__close {
		position: absolute;
		top: 15px;
		right: 15px;
		cursor: pointer;
	}
}
