* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border-style: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 90000000s 0s, color 90000000s 0s;
}
