@font-face {
	font-family: "castellar";
	src: url("../fonts/castellar.ttf");
}

@font-face {
	font-family: "lora-regular";
	src: url("../fonts/lora-regular.ttf");
}

@font-face {
	font-family: "lora-bold";
	src: url("../fonts/lora-bold.ttf");
}
