$color-white: rgb(255, 255, 255);
$color-brown: rgb(174, 137, 89);
$color-shadow: rgba(152, 108, 52, 0.2);
$color-text-bg: rgba(174, 137, 89, 0.1);
$color-bg-advantage: rgb(19, 19, 24);
$color-bg-menu: rgba(19, 19, 24, 0.9);
$color-subtitle: rgb(89, 85, 80);
